body {
    background: rgb(252,2,64);
    background: linear-gradient(45deg, rgba(252,2,64,1) 0%, rgba(255,177,0,1) 100%);
    font-family: "Poppins";
}

.background {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    display: flex;
    flex: 1;
    border-radius: 10px;
}

.latLonContainer {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 18px -6px #000000;
    box-shadow: 0px 0px 10px -6px #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText {
    font-weight: 600;
    font-size: 2.4em;
    margin: 10px 0;
}

.titleText {
    font-size: 1.7em;
    font-weight: bold;
    margin: 5px 0px;
}

.coordText {
    font-size: 1.5em;
    font-weight: normal;
    margin: 5px 0;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: black;
}

.MuiInputLabel-outlined {
    color: white;
}

.MuiOutlinedInput-input {
    color: black
}

@media (max-width: 640px) {
    .heroText {
        font-size: 2em;
    }

    .coordText {
        font-size: 1.2em;
    }

    .titleText {
        font-size: 1.3em;
    }
}